*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    
/* CARD */

.card {
    background-color: orange;
    border-radius: 20px;
    box-shadow: 0 0 0 0.10px rgba(0, 1, 0, 0.15);
    width: 500px;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
}


hr {
    height: 7px;
    width: 100%;
    background-color: black;
    color: black;
    margin-bottom: 40px;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.group {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.group span {
    width: 55px;
    text-align: right; /* Isso faz o texto ficar encostado no lado direito da Área de 55px; */
}

.group input {
    flex: 1; /* pegue todo o espaço que sobrar */ 
    height: 60px;
    margin-bottom: 40px;
    font-size: 30px;
}

input {
    border-radius: 5px;
}

#button {
    background-color: black;
    color: orange;
    height: 45px;
    width: 80%;
    cursor: pointer;
    margin-bottom: 30px;

    font-size: 20px;;
}


span {
    font-size: 20px;
}


.result {
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 80%;
    height: 190px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
